@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* Heading & logo */

h1, h2 {
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* Navigation */

#menu{
    font-size: 100%;
    letter-spacing: 4px;
    text-align: right;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*hero-image & mission text */

#hero-outer {
    height: 825px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#mission-text, #mission-text h2 {
    color: black;
}

#hero-image {
    height: 825px;
    width: 100%;
    background: url('../images/hero-image.jpg')no-repeat center center;


/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

/*creates the level of zoom for the hero image*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#mission-text {
    font-size: 130%;
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(127,255,212, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;

}

/* benefits */

#benefits {
    height: 825px;
}

#happy-health-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#style-community-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#image-center {
    width: 33%;
    margin: 0 auto ;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.happy-health-section, .style-community-section {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.happy-health-section{
    float: right;
}

.style-community-section{
    float: left;
}

.happy-health-section h2{
    text-align: center;
}

.happy-health-section  p{
    text-align: center;
    margin-bottom: 50px;
}

.style-community-section h2{
    text-align: center;
}

.style-community-section  p{
    text-align: center;
    margin-bottom: 50px;
}


#benefits-heading{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#image-center-section {
width: 320px;
height: 320px;
padding: 10px;
border: 1px solid #252525;
margin: 0 auto;
border-radius: 5%;
}

#image-center-section-bg {
    background: url('../images/center-image-home.jpg') no-repeat center center;
    height: 90%;
}

/* Events Section */

#coffee-morning {
    background: url('../images/coffee-morning.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#park-walk {
    background: url('../images/park-walk.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#movie-night {
    background: url('../images/movie-night.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#events div{
    color: #fafafa;
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}
#events h2 {
    color: #fafafa;
}

/*footer styling*/

footer{
    height: 150px;

}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Memory Lane */

#memory-lane-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#memory-lane-photos > img {
    width: 100%;
}

/* Media Queries for responsive design */

/* For larger screens down to 1200px */

@media  screen and (max-width: 1200px) {
    #benefits{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #benefits-heading {
        padding: 30px 0;
        margin: 0;
    }

    #happy-health-left, #style-community-right{
        width: 100%;
        float: left;
        padding: 0;
    }

    #image-center{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #events > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr{
        display: none;
    }
}

/* For screens 950px and smaller */

@media screen and (max-width: 950px) {

    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 30px;
        line-height: 25px;
    }

    #mission-text {
        left:0;

    }

    #benefits {
        width: 90%;
        height: 1200px;
        margin: 0 auto;

    }

    .happy-health-section, .style-community-section {
        width: inherit;

    }

    .happy-health-section h2, .style-community-section h2 {
        width: 100%;
        text-align: center;
    }

    .happy-health-section p, .style-community-section p {
        text-align: center;
        padding: 0 20px;
    }
    #memory-lane-photos {
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    
    #memory-lane-photos {
        column-count: 2;
    }
    
}

/* About Us page */

#family-image {
    width: 45%;
    height: 825px;
    padding: 10px;
    border: 1px solid #252525;
    border-radius: 5%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    }
    
    #family-image-bg {
        background: url('../images/about-us/family-image.png') no-repeat center center;
        height: 100%;
        border-radius: 5%;
    }

#about-us-text {
    margin-top: 30px;
    width: 40%;
    float: right;
    font-size: 200%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

