@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');

        *{      margin: 0;
        padding: 0;
        border: none;}
        body{   font-family: Lato, sans-serif;
                font-weight: 300;
                color:#3a3a3a;}
/* Heading & logo */
        h1, h2 {
                font-family: Abril Fatface, sans-serif;
                text-transform: uppercase;
                letter-spacing: 4px;
                color: #252525;}
        #logo {
                float: left;
                font-size: 250%;
                margin-left: 30px;}
/* Navigation */
        #menu{
                font-size: 100%;
                letter-spacing: 4px;
                text-align: right;}
        #menu, #logo {
                line-height: 75px;}
        #menu li {
                display: inline-block;
                list-style-type: none;
                margin-right: 30px;}
        #menu a{
                text-decoration: none;
                color: inherit;}
        #menu a:hover {
                border-bottom: 1px solid #3a3a3a;}
        .active {
                border-bottom: 1px solid #3a3a3a;}
/*hero-image & mission text */
        #hero-outer {
                height: 825px;
                width: 100%;
                overflow: hidden;
                position: relative;}
        #mission-text, #mission-text h2 {
                color: black;}
        #hero-image {
                height: 825px;
                width: 100%;
                background: url('../images/hero-image.jpg')no-repeat center center;
                /* animates zoom effect on loading page */
                animation-name: hero-zoom;
                animation-duration: 5s;
                animation-fill-mode: forwards;}
/*creates the level of zoom for the hero image*/
        @keyframes hero-zoom {
                from{transform: scale(1);}
                to{transform: scale(1.1);}}
/*Styling for the mission text that is overlayed on the hero image*/
        #mission-text {
                font-size: 130%;
                font-family: Abril Fatface, sans-serif;
                text-transform: uppercase;
                letter-spacing: 4px;
                width: 300px;
                height: 200px;
                padding-top: 40px;
                padding-left: 10px;
                background-color: rgba(127,255,212, .7);
                bottom: 30px;
                right: 150px;
                position: absolute;}
/* benefits */
        #benefits {
                height: 500px;}
        #happy-health-left {
                padding-top: 30px;
                width: 33%;
                float: left;}
        #style-community-right {
                padding-top: 30px;
                width: 33%;
                float: right;}
        #image-center {
                width: 33%;
                margin: 0 auto;}
        hr {
                border-top: 1px solid #3a3a3a;
                width: 100%;
                margin: 5px;}
        .happy-health-section, .style-community-section {
                width: 60%;
                line-height: 20px;
                clear: both;
                margin-bottom: 50px;}
        .happy-health-section{
                float: right;}
        .style-community-section{
                float: left;}
        .happy-health-section h2{
                text-align: center;}
        .happy-health-section  p{
                text-align: center;
                margin-bottom: 50px;}
        .style-community-section h2{
                text-align: center;}
        .style-community-section  p{
                text-align: center;
                margin-bottom: 50px;}
        #benefits-heading{
                text-align: center;
                margin: 20px 0;
                font-size: 280%;}
        #image-center-section {
                width: 320px;
                height: 320px;
                padding: 10px;
                border: 1px solid #252525;
                margin: 0 auto;
                border-radius: 5%;}
        #image-center-section-bg {
                background: url('../images/center-image-home.jpg') no-repeat center center;
                height: 90%;}

/* Pricing section on the home page*/
        #pricing-heading-section{
                margin-top: 0;
                margin-bottom: 30px;}
        #packages {
                height: 500px;
                margin-top: 30px;}
        #packages div {
                vertical-align: top;
                padding-top: 10px;
                background-color: #fafafa;
                color: #252525;
                width: 250px;
                height: 500px;
                display:inline-block;
                text-align: center;
                margin-left: 30px;
                border: 2px solid #252525;
                border-radius: 5%;}    
        #packages ol {
                margin-left: 10px;
                padding: 30px;}
        #pricing-heading{
                text-align: center;
                margin: 20px 0;
                font-size: 280%;}
        #pricing-text{
                height: 50px;
                text-align: center;
                margin: 20px 0;
                font-size: 200%;}
        #packages h3{
                font-weight: bold;
                font-size: 150%;
                margin-top: 20px;}
        #packages footer{
                font-weight: bold;
                font-size: 150%;
                vertical-align: bottom;
        }            

/* Events Section */

#coffee-morning {
    background: url('../images/coffee-morning.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#park-walk {
    background: url('../images/park-walk.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#movie-night {
    background: url('../images/movie-night.jpg') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 90%;
}

#events div{
    color: #fafafa;
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}
#events h2 {
    color: #fafafa;
}

/*footer styling*/

footer{
    max-height: 150px;

}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Memory Lane */

#memory-lane-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#memory-lane-photos > img {
    width: 100%;
}

/* Media Queries for responsive design */

/* For larger screens down to 1250px */

@media  screen and (max-width: 1250px) {
    
    #logo{
        font-size: 200%;
    }

    #benefits{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #benefits-heading {
        padding: 30px 0;
        margin: 0;
    }

    #happy-health-left, #style-community-right{
        width: 100%;
        float: left;
        padding: 0;
    }

    #image-center{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #events > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #about-us-section img {
        max-width: 100%; 
        height: auto;
        }

    hr{
        display: none;
    }

    #location-section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #location-heading, #contact-heading {
        padding: 30px 0;
        margin: 0;
    }

    #location-div, #contact-div{
        width: 100%;
        padding: 0;
    }
    #location-section{
        height: 1000px;
        display: inline-block;
    }

    #packages > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;}

}

/* For screens 950px and smaller */

    @media screen and (max-width: 950px) {

        #menu{
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 30px;
            line-height: 25px;
        }

        #mission-text {
            left:0;

        }

        #benefits {
            width: 90%;
            height: 1200px;
            margin: 0 auto;

        }

        .happy-health-section, .style-community-section {
            width: inherit;

        }

        .happy-health-section h2, .style-community-section h2 {
            width: 100%;
            text-align: center;
        }

        .happy-health-section p, .style-community-section p {
            text-align: center;
            padding: 0 20px;
        }
        #memory-lane-photos {
            column-count: 3;
        }
        
        #packages > div {
            width: 100%;
            clear: both;
            height: 150px;
            padding: 0;}
    }
/* To cover screen widths up to a maximum of 800px*/
    @media screen and (max-width: 800px){
         /* Gallery photo columns*/
        #memory-lane-photos {
            column-count: 2;
        }
    }
/* To cover screen widths up to a maximum of 400px*/
    @media screen and (max-width: 400px){
    /* logo font size scale*/
        #logo { 
            font-size: 130%;}
    /* Menu size scale*/
        #menu {
            font-size: 80%;
            letter-spacing: 2px;
            text-align: left;}
        #menu li {
            margin-right: 10px;}

    /*Hero Image disapear below 400px*/
        #hero-outer {
            display: none;}
    /*Scale down benefits heading font size below 400px*/
        #benefits-heading{
            font-size: 130%;}
    /*Scale down benefits text font size below 400px*/
        .happy-health-section h2{
            font-size: 90%;
            margin-bottom: 5px;}
        .happy-health-section  p{
            font-size: 80%;
            margin-bottom: 15px;}
        .style-community-section h2{
            font-size: 90%;
            margin-bottom: 5px;}
        .style-community-section  p{
            font-size: 80%;
            margin-bottom: 15px;}
    /*replace center image with a smaller image for mobile*/
        #image-center-section {
            width: 220px;
            height: 147px;
            border: 1px solid #252525;
            border-radius: 5%;}
        #image-center-section-bg {
            background: url('../images/image-center-220px.jpg') no-repeat center center;
            height: 90%;}
        }
/* About Us page */

#about-us-section div{
    text-align: center;
    }

#about-us-text-section h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#about-us-text-section p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* details Page */

#location-section{
    height: 850px;
}

.parent {
    text-align: center;
   
}

.child {
    vertical-align: top;
    margin: 30px;
    display: inline-block;
}
#contact-div{
    height: 100%;
    width: 45%;
    padding-bottom: 10%;
}


#location-div{
    height: 100%;
    width: 45%;
    margin-bottom: 30px;

}

#location-div iframe{
    height: 60%;
    width: 45%;
    left: 5%;
    position:absolute;

}

#location-div, #contact-div{
    padding-top: 30px;
    margin-bottom: 20px;
}

#location-heading, #contact-heading {
    text-align: center;
}

#contact-div h2{
    margin-bottom: 30px;
}

#contact-div h3{
    margin-top :40px;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 20px;
}

#contact-heading-text{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#contact-text{
    height: 50px;
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}



/* Form Styling*/

.subscribe-section{
    clear: left;
    background: url(../images/form/form-image.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.subscribe-form{
    margin: 50px 10% 0 0;
    color: #353535;
    background-color: rgba(250, 250, 250, 0.6);
    font-size: 120%;
    max-width: 400px;
    height: 300px;
    position: absolute;
    left: 10%;
    padding: 30px;
}