@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* Heading & logo */

h1, h2 {
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* Navigation */

#menu{
    font-size: 100%;
    letter-spacing: 4px;
    text-align: right;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*hero-image & mission text */

#hero-outer {
    height: 825px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#mission-text, #mission-text h2 {
    color: black;
}

#hero-image {
    height: 825px;
    width: 100%;
    background: url('../images/hero-image.jpg')no-repeat center center;


/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

/*creates the level of zoom for the hero image*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#mission-text {
    font-size: 130%;
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(127,255,212, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;

}

/* benefits */

#benefits {
    height: 825px;
}

#happy-health-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#style-community-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#image-center {
    width: 33%;
    margin: 0 auto ;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.happy-health-section, .style-community-section {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.happy-health-section{
    float: right;
}

.style-community-section{
    float: left;
}

.happy-health-section h2{
    text-align: right;
}

.happy-health-section p{
    text-align: right;
}
